
#kotlinimpl ignore list
kotlinimpl/.idea
kotlinimpl/kotlinimpl.iml

#pyimpl ignore list
pyimpl/pyimpl.iml
/pyimpl/src/pyimpl.egg-info/

#rustimpl ignore list
rustimpl/target
rustimpl/rustimpl.iml

#goimpl ignore list
goimpl/.idea
goimpl/goimpl.iml

#root project ignore list
interpreter.iml
.idea
