#goimpl ignore list
goimpl/*.iml

#kotlinimpl ignore list
kotlinimpl/.idea
kotlinimpl/kotlinimpl.iml

#pyimpl ignore list
pyimpl/pyimpl.iml
/pyimpl/src/pyimpl.egg-info/

#rustimpl ignore list
rustimpl/target
rustimpl/rustimpl.iml

#vimpl ignore list
vimpl/vimpl.iml
vimpl/.editorconfig

#root project ignore list
interpreter.iml
.idea
